# Laravel - Ignored core directories
/vendor/
/node_modules/
/.env*
/storage/*.key
/storage/logs/
/storage/framework/
/storage/generated-json/
/public/storage

# Laravel Modules - Ignore generated or compiled artifacts
Modules/**/Controllers/
Modules/**/Http/Controllers/
Modules/**/Http/Requests/
Modules/**/Resources/
/Modules/*/resources/views/**

# Vite & Filament - Build outputs and hot files
/public/build/
/public/assets/
/public/css/
/public/js/
/public/vendor/filament/
/public/hot
/.vite
/vite.config.ts
/vite.config.js

# Laravel Livewire temporary artifacts
/livewire-tmp/

# Pint
/pint.txt

# PHPUnit / Pest
/.phpunit.cache
/.phpunit.result.cache
/depr.txt
/htmloutput.txt
/phpunit.txt
/pif.txt
/puf.txt
/test.txt
/todo.txt
/unit_depr.txt

# IDEs and Tools
/.idea/
/.vscode/
/.phpactor.json
/.nova/
/.fleet/
/.zed/

# Miscellaneous
/.docker/
/.php-cs-fixer.cache
*.sqlite
/stan.txt
/yarn-upgr.txt
npm-debug.log
yarn-error.log
