#includes:
#    - phpstan-baseline.neon
parameters:
    tmpDir: null
    paths:
        - Modules/

    excludePaths:
        analyse:
            - */Http/*

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    level: 5
