includes:
    - phpstan-baseline.neon

parameters:
    tmpDir: null
    level: 3
    paths:
        - Modules/

    excludePaths:
        analyse:

    ignoreErrors:

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
