<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResult="false"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnPhpunitDeprecations="true"
>
    <testsuites>
        <testsuite name="failing">
            <file>Modules/Core/Tests/Unit/DateFieldAutoPopulationTest.php</file>
            <file>Modules/Core/Tests/Unit/Services/NumberingCompanyIsolationTest.php</file>
            <file>Modules/Core/Tests/Unit/Services/NumberingServiceTest.php</file>
            <file>Modules/Core/Tests/Unit/SettingsTest.php</file>
            <file>Modules/Invoices/Tests/Unit/Http/Clients/ApiClientTest.php</file>
            <file>Modules/Invoices/Tests/Unit/Http/Decorators/HttpClientExceptionHandlerTest.php</file>
            <file>Modules/Invoices/Tests/Unit/Peppol/Clients/DocumentsClientTest.php</file>
            <file>Modules/Invoices/Tests/Unit/Peppol/Enums/PeppolDocumentFormatTest.php</file>
            <file>Modules/Invoices/Tests/Unit/Peppol/FormatHandlers/FormatHandlerFactoryTest.php</file>
            <file>Modules/Invoices/Tests/Unit/Peppol/Providers/ProviderFactoryTest.php</file>
            <file>Modules/Invoices/Tests/Unit/Peppol/Services/PeppolServiceTest.php</file>
            <file>Modules/Core/Tests/Feature/NumberingPanelAccessTest.php</file>
            <file>Modules/Core/Tests/Feature/NumberingTest.php</file>
            <file>Modules/Expenses/Tests/Feature/ExpensesTest.php</file>
            <file>Modules/Invoices/Tests/Feature/InvoiceDuplicateNumberPreventionTest.php</file>
            <file>Modules/Invoices/Tests/Feature/InvoiceNumberingSchemeChangeTest.php</file>
            <file>Modules/Invoices/Tests/Feature/InvoicesTest.php</file>
            <file>Modules/Payments/Tests/Feature/PaymentsTest.php</file>
            <file>Modules/Projects/Tests/Feature/ProjectsTest.php</file>
            <file>Modules/Projects/Tests/Feature/TasksTest.php</file>
            <file>Modules/Quotes/Tests/Feature/QuoteDuplicateNumberPreventionTest.php</file>
            <file>Modules/Quotes/Tests/Feature/QuotesTest.php</file>
        </testsuite>
        <testsuite name="Unit">
            <directory>Modules/*/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>Modules/*/Tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
